* {
    padding: 0;
    margin: 0;
    font-family: 'Open Sans', sans-serif;
    font-weight: 400;
    text-decoration: none;

}

header{
     font-size: 28px;
     font-weight: 600;
 }

body{
    font-size: 16px;
    color: #00365a;
}

a{
    color: #00243c;
    font-weight: 600;
}

a:hover{
    font-weight: 700;
    color: #004878;
}

#options{
    border: 1px solid;
}

#pickSci{
    border: 1px solid olivedrab;
}

#yearIn{
    border: 1px solid  sandybrown;
}

.yearN{

}

#outputIn{
    border: 1px solid blueviolet;
}

#outputWrapper{
    border: 1px solid grey;
}

#outputDetails{
    border: 1px solid saddlebrown;
}

#outputBox{
    border: 1px solid darkred;
}

/*300/400/600/700*/
/*font-family: 'Open Sans', sans-serif;*/

/*Font colors*/
/*http://www.color-hex.com/color/005b96*/
/*#id*/
/*.class*/